@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 10vh;
  padding: 0 8rem;
}
.logo {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 0.65rem 1rem;
  color: #fff;
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  background: #08bd80;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skew(-15deg);
}
form {
  display: flex;
  align-items: center;
}
form input {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  transform: skew(-15deg);
  border: 2px solid #08bd80;
  outline: none;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
  font-size: 2rem;
}
.page-no span {
  color: #04a770;
}
form button,
#next-btn,
#prev-btn {
  padding: 0.79rem 1.5rem;
  transform: skew(-15deg);
  border: 1px solid #08bd80;
  background: #08bd80;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
}
.title {
  align-self: flex-start;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.title span {
  color: #04a770;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: capitalize;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
.img-box {
  height: 275px;
  overflow: hidden;
}
.img-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  font-size: 1.2rem;
  background-color: #fff;
}
.img-data a {
  color: #08bd80;
  font-weight: 500;
}
.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.load {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.no-result {
  width: 100%;
  height: 60vh;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.no-result span {
  color: #04a770;
  letter-spacing: 3px;
  margin-left: 1rem;
  text-decoration: wavy;
}
.circle {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background: #f5f5f5;
  border: 2px solid #79d1b43b;
  border-radius: 1rem;
}
.circle-1 {
  animation: 1s linear 0s infinite change;
}
.circle-2 {
  animation: 1s linear 0.33s infinite change;
}
.circle-3 {
  animation: 1s linear 0.66s infinite change;
}

@keyframes change {
  0% {
    background: #04a770;
  }
  50% {
    background: #f5f5f5;
  }
  100% {
    background: #f5f5f5;
  }
}
#top {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #04a770;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#top ion-icon {
  font-size: 3rem;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 2rem 4rem;
  }
  main {
    padding: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding: 1rem 2rem 0 2rem;
    flex-direction: column;
    justify-content: center;
  }
  main {
    padding: 2rem;
  }
  form {
    margin: 2rem 0 0;
  }
  .logo {
    color: #08bd80;
  }
  .logo::before {
    background: none;
  }
  form input,
  form button,
  #next-btn,
  #prev-btn {
    transform: skew(0);
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .img-box {
    height: 350px;
  }
  .no-result {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding: 1.5rem;
  }
  main {
    padding: 1.5rem;
  }
  .img-box {
    height: 275px;
  }
  .title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 370px) {
  form {
    flex-direction: column;
  }
  form input {
    margin-bottom: 1rem;
  }
}
